.center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
.back { background: #de6262; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #ffb88c,
      #de6262
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #ffb88c,
      #de6262
    );

    height: 40rem;
};