.navbar {
  background-color: blue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin-right: 10px;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
